<html>

<head>
<title>Simple Chat</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/chat.css" rel="stylesheet">
</head>

<body>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
	<div class="row well">
		<div class="col-md-2">
    	    <ul class="nav nav-pills nav-stacked well">
              <li  class="active"><a>Amis en ligne</a></li>
              <!--Pour chaque amis connectés, ajouter un élément-->
              <li><a ><i class="fa fa-user"></i> User1</a></li>
              <li><a ><i class="fa fa-user"></i> User2</a></li>
              <li><a ><i class="fa fa-user"></i> User3</a></li>
              <li><a ><i class="fa fa-user"></i> User4</a></li>
            </ul>
        </div>
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="../img/oooh.gif" alt="...">
                    <div class="name"><small><%= username %></small></div>                   
                </div>       
    <br><br><br>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#inbox" data-toggle="tab"><i class="fa fa-envelope-o"></i> Chat</a></li>
      <!--<li><a href="" ><i ></i> Amis</a></li>
      <li><a href="" ><i ></i> Profil</a></li>-->
      <li><a href="deco" ><i ></i> Déconnexion</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
      <!--Debut content a copier-->
        <% for(var i=0; i<messages.length; i++) { %>
          <a type="button" data-toggle="collapse" data-target="#a1">
                <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
                  <div class="btn-group col-md-10"><b><%= messages[i].sender %></b> <%= messages[i].text%></div>
                  <div class="pull-right"><i class="glyphicon glyphicon-time"></i> <%= messages[i].date %></div>
                </div>
          </a>
        <% } %>
      <!--Fin content a copier-->
        <br>
      </div>
      <form method="post" action"sendmessage">
          <input class="col-md-10" type="text">
          <button class="btn" type="submit">Post</button>

      </form>

    </div>

   </div>
	</div>  
</div>
</body>

</html>